
// placehorder

%no-margin{
    margin: 0;
    padding: 0;
}


// header style

body{
    margin:0;
    padding:0;
    background-color: #f3f3f3;
    font-family: $font
}

.parent-header{
    background-color: $color-1;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
    .header{
        max-width: 100%;
        display:flex;
        background-color: $color-1;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        

        .fa-bars{
            font-size: 30px;
            cursor: pointer;
            position: absolute;
            top:12px;
            right:20px;
            visibility: hidden;
            @include device-max-900{
                visibility:visible;
            }
        }

        img{
            height:50px
        }
        
        &__menu{
            display:flex;
            padding:20px;
            transition: .7s all;
            box-sizing: border-box;
            position: relative;

            .fa-times{
                position:absolute;
                cursor: pointer;
                top:20px;
                left: 30px;
                font-size: 30px;
                visibility:hidden;
                display:none;
                @include device-max-900{
                    visibility:visible;
                    display: inline-block;
                }
            }

            a{
                display:block;
                text-decoration: none;
                color:$color-2;
                padding:10px;
                font-family: 'Kumbh Sans', sans-serif;
                font-weight: 900;
                border-bottom: 4px solid transparent;
                transition: .9s all;
                box-sizing: border-box;
                @include device-max-900{
                    width:fit-content;
                    margin:0;
                }

                &:hover{
                    border-bottom: 4px solid $color-2;
                }
            }
            @include device-max-900{
                position: absolute;
                padding-left: 20px;
                width:100%;
                flex-direction: column;
                top: -1000px;
                left:0;
                background-color:white;

            }
        }

        .header__contact{
            display:flex;
            font-family: 'Kumbh Sans', sans-serif;
            text-transform: uppercase;
            
            @include device-max-900{
                display:none;
            }
            h4{
                
                color:$color-2;
                @extend %no-margin;
                padding:20px 10px;
            }
            a{
                background-color: $color-2;
                color:$color-1;
                text-decoration: none;
                display: block;
                padding:20px 10px;
            }
        }
    }
}


*{
    box-sizing: border-box;
}