@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Manrope&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

// font-family: 'Kumbh Sans', sans-serif;
// font-family: 'Manrope', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Lato', sans-serif;
// variables

$color-1:white;
$color-2:#05001a;
$color-3:#57F1B1;
$color-4:#E68244;
$max-width:1000px;


// placehorder

%no-margin{
    margin: 0;
    padding: 0;
}


// header style
body{
    margin:0;
    padding:0;
    background-color: #f3f3f3;
    font-family: "Kumbh Sans", sans-serif;
}

.parent-header{
    background-color: $color-1;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
    .header{
        max-width: 100%;
        display:flex;
        background-color: $color-1;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        img{
            height:50px
        }
        
        &__menu{
            display:flex;
            padding:20px;
            a{
                display:block;
                text-decoration: none;
                color:$color-2;
                padding:10px;
                font-family: 'Kumbh Sans', sans-serif;
                font-weight: 900;
                border-bottom: 4px solid transparent;
                transition: .9s all;
                &:hover{
                    border-bottom: 4px solid $color-2;
                }
            }
        }

        .header__contact{
            display:flex;
            font-family: 'Kumbh Sans', sans-serif;
            text-transform: uppercase;

            h4{
                
                color:$color-2;
                @extend %no-margin;
                padding:20px 10px;
            }
            a{
                background-color: $color-2;
                color:$color-1;
                text-decoration: none;
                display: block;
                padding:20px 10px;
            }
        }
    }
}

