@import 'utils';
@import 'header';
@import 'footer';

// bloc gallery

.parent-galerie{
    width: 100%;
    margin-top: 100px;
    h4{
        text-align: center;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 4rem;
        margin: 0;
        color:$color-2;
    }
    .galerie{
        max-width: $max-width;
        display: flex;
        flex-wrap: wrap;
        margin:auto;

        &__item{
            background-image: url('/img/for-professionals-1000x700.jpg');
            background-position: center center;
            background-size: cover;
            margin: 15px auto;
            width: 300px;
            height:300px;
            @include device-max-700{
                width: 100%;
            }
        }
    }
}