// fonts importation

@import 'utils';
@import 'header';
@import 'footer';
// bloc home style

.home{
    background-image: url('/img/826909-hospital-wallpapers-1920x1080-hd.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 70vh;
    margin-top: 80px;

    @include device-max-900{
        margin-top:30px;
        min-height: 50vh;
        // min-width:100%;
    }


    .home__text{
        padding:50px;
        color:white;
        opacity: 0;
        transform: scale(.1);
        transition:2s all ease;
        font-family: 'Kumbh Sans', sans-serif;
        h4{
            font-size:5rem;
            @extend %no-margin;
            @include device-max-700{
                font-size: 3rem;
                text-align: center;
            }
        }

        .home__links{
            display: flex;
            justify-content:center
        }

        .home__link{
            text-decoration: none;
            padding:15px 35px;
            background:$color-1;
            margin:auto;
            border:2px solid transparent;
            color:$color-2;
            font: {
                family: 'Kumbh Sans', sans-serif;
                weight:500;
                size:1rem;
            }

            &:hover{
                border:2px solid $color-1;
                color: $color-1;
                background-color: $color-2;
            }

            @include device-max-700{
                padding:5px 10px;
                font-size:.8rem;
            }
        }
    }
}


// bloc 'ce que nous avons' style


.parent_whatWeHave{
    width:100%;
    background-color: $color-2;
    overflow: hidden;

    .whatWeHave{
        display: flex;
        justify-content:center;
        max-width: $max-width;
        margin:auto;
        opacity: 0;
        transform: translateY(200px);
        transition:.8s all;

        @include device-max-900{
            flex-direction: column;
        }

        &__option{
            padding:10px;
            width:fit-content;
            display:flex;
            background-color: $color-2;
            color: $color-1;
            align-items:center;
            font-family: 'Kumbh Sans', sans-serif;

            @include device-max-900{
                width: 100%;
            }

            .fas{
                font-size:80px;
                padding:0px 20px;
                display:block;
            }

            .option__text{
                padding:0px 30px 0px 0px;
                color: $color-1;
                // font-size: 1rem;
            }

        &:nth-child(2){
                background-color: $color-1;
                color: $color-2;
                .option__text{
                    color: $color-2
                }
            }
        
        }
    }
}

// formulaire rendez-vous style 


.parent-form{
    margin:50px auto; 
    max-width: $max-width;
    display: flex;
    

    .form__image{
        background-image: url('/img/Hospital-Beds.jpg');
        background-position:center center;
        background-size: cover;
        width:40%;

        @include device-max-900{
            display:none;
        }

    }

    .form__block{

        flex: 1;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 900;
        background-color: white;

        @include device-max-900{
            width:100%;
        }

        h4{
            @extend %no-margin;
            color: $color-1;
            background-color: $color-2;
            padding:20px 25px;
            font-size:1.4rem;
            margin-bottom:20px;
            
        }
        form{
            padding:0px 30px;
            box-sizing: border-box;
            div{
                display: flex;
                justify-content:space-between;

                @include device-max-900{
                    flex-direction: column;
                }
            }


            input[type='text'],textarea{
                // width: 300px;
                padding:15px 10px;
                margin:10px 0px;
                color: $color-2;
                border:1px solid transparent;
                background-color: rgba(238, 238, 238, 0.61);
                font-size: 1rem;
                font-family: 'Kumbh Sans', sans-serif;

                &:focus{
                    outline:3px solid $color-2;
                }
            }
            input[type='text']{
                width: 46%;
                @include device-max-900{
                    width: 100%;
                }
            }
            textarea{
                width: 100%;
            }
        }

        button{
            width:200px;
            padding:15px 25px;
            background-color: $color-2;
            color: $color-1;
            font-size: 1rem;
            font-family: 'Kumbh Sans', sans-serif;
            font-weight: 700;
            border: none;
            display: block;
            margin-bottom: 15px;
            @include device-max-700{
                width: 100%;
            }
        }

    }
}

// galerie bloc style

.parent-galerie{
    width: 100%;
    h4{
        text-align: center;
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 4rem;
        margin: 0;
        color:$color-2;
    }
    .galerie{
        max-width: $max-width;
        display: flex;
        flex-wrap: wrap;
        margin:auto;

        &__item{
            background-position: center center;
            background-size: cover;
            margin: 15px auto;
            width: 320px;
            height:250px;
            &:nth-child(1){
                background-image: url('/img/88176.jpg');
            }
            &:nth-child(2){
                background-image: url('/img/unnamed.jpg');
            }
            &:nth-child(3){
                background-image: url('/img/Hospital-Beds.jpg');
            }
            &:nth-child(4){
                background-image: url('/img/hospital.jpg');
            }
            &:nth-child(5){
                background-image: url('/img/Moore-CovidAfrica.jpg');
            }
            &:nth-child(6){
                background-image: url('/img/file-20210111-23-1s1uykk.jpg');
            }



           
            @include device-max-900{
                width:100%;
                margin: 5px;
            }
        }
    }
}

// bloc urgence

.parent-urgence{
    background-image: url('/img/826909-hospital-wallpapers-1920x1080-hd.jpg');
    background-position: center center;
    background-size: cover;
    margin-top:80px;
    max-width:100%;
    padding:100px;

    @include device-max-900{
        padding:60px;
    }

    .urgence{
        font-family: 'Kumbh Sans', sans-serif;
        font-size:3.5rem;
        color:white;
        transition: .3s all;
        @include device-max-700{
            font-size:2rem;
        }
    }
}

// bloc ce que nous faisons

.parent-whatWeDo{
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    overflow:hidden;
    &>h4{
        font-size:4rem;
        margin:35px 0px;
        color:$color-2;
        text-align:center;
        @include device-max-700{
            font-size: 3rem;
        }
    }
    .whatWeDo{
        font-family: 'Kumbh Sans', sans-serif;
        display: flex;
        max-width: $max-width;
        justify-content:space-between;
        margin: auto;
        opacity: 0;
        transform: translateY(900px);
        transition: .5s all;

        @include device-max-700{
            flex-direction: column;
            max-width: 100%;
        }

        &__item{
            padding:40px;
            text-align: center;
            color:$color-2;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            i{
                font-size: 3rem;
            }

            h4{
                margin-top: 5px;
                font-size: 2rem;
            }

            p{
                text-align: center;
            }

            @include device-max-700{
                max-width: 100%;
                justify-content:center;
            }
        }
    }
}

