@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Manrope&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.parent-form .form__block h4, .home .home__text h4, .parent-header .header .header__contact h4 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: "Kumbh Sans", "Manrope", "Roboto", "Lato", sans-serif;
}

.parent-header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.parent-header .header {
  max-width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.parent-header .header .fa-bars {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 20px;
  visibility: hidden;
}
@media screen and (max-width: 900px) {
  .parent-header .header .fa-bars {
    visibility: visible;
  }
}
.parent-header .header img {
  height: 50px;
}
.parent-header .header__menu {
  display: flex;
  padding: 20px;
  transition: 0.7s all;
  box-sizing: border-box;
  position: relative;
}
.parent-header .header__menu .fa-times {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 30px;
  font-size: 30px;
  visibility: hidden;
  display: none;
}
@media screen and (max-width: 900px) {
  .parent-header .header__menu .fa-times {
    visibility: visible;
    display: inline-block;
  }
}
.parent-header .header__menu a {
  display: block;
  text-decoration: none;
  color: #05001a;
  padding: 10px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 900;
  border-bottom: 4px solid transparent;
  transition: 0.9s all;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .parent-header .header__menu a {
    width: fit-content;
    margin: 0;
  }
}
.parent-header .header__menu a:hover {
  border-bottom: 4px solid #05001a;
}
@media screen and (max-width: 900px) {
  .parent-header .header__menu {
    position: absolute;
    padding-left: 20px;
    width: 100%;
    flex-direction: column;
    top: -1000px;
    left: 0;
    background-color: white;
  }
}
.parent-header .header .header__contact {
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .parent-header .header .header__contact {
    display: none;
  }
}
.parent-header .header .header__contact h4 {
  color: #05001a;
  padding: 20px 10px;
}
.parent-header .header .header__contact a {
  background-color: #05001a;
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 10px;
}

* {
  box-sizing: border-box;
}

.parent-footer {
  width: 100%;
  background-color: #05001a;
  margin-top: 50px;
}
.parent-footer .footer {
  max-width: 1000px;
  min-height: 300px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .parent-footer .footer {
    flex-direction: column;
  }
}
.parent-footer .footer__item {
  text-align: center;
  color: white;
}

.btn-goUp {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  border: 2.5px solid white;
  background-color: #05001a;
  color: white;
}

.home {
  background-image: url("/img/826909-hospital-wallpapers-1920x1080-hd.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-top: 80px;
}
@media screen and (max-width: 900px) {
  .home {
    margin-top: 30px;
    min-height: 50vh;
  }
}
.home .home__text {
  padding: 50px;
  color: white;
  opacity: 0;
  transform: scale(0.1);
  transition: 2s all ease;
  font-family: "Kumbh Sans", sans-serif;
}
.home .home__text h4 {
  font-size: 5rem;
}
@media screen and (max-width: 700px) {
  .home .home__text h4 {
    font-size: 3rem;
    text-align: center;
  }
}
.home .home__text .home__links {
  display: flex;
  justify-content: center;
}
.home .home__text .home__link {
  text-decoration: none;
  padding: 15px 35px;
  background: white;
  margin: auto;
  border: 2px solid transparent;
  color: #05001a;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.home .home__text .home__link:hover {
  border: 2px solid white;
  color: white;
  background-color: #05001a;
}
@media screen and (max-width: 700px) {
  .home .home__text .home__link {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}

.parent_whatWeHave {
  width: 100%;
  background-color: #05001a;
  overflow: hidden;
}
.parent_whatWeHave .whatWeHave {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  opacity: 0;
  transform: translateY(200px);
  transition: 0.8s all;
}
@media screen and (max-width: 900px) {
  .parent_whatWeHave .whatWeHave {
    flex-direction: column;
  }
}
.parent_whatWeHave .whatWeHave__option {
  padding: 10px;
  width: fit-content;
  display: flex;
  background-color: #05001a;
  color: white;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}
@media screen and (max-width: 900px) {
  .parent_whatWeHave .whatWeHave__option {
    width: 100%;
  }
}
.parent_whatWeHave .whatWeHave__option .fas {
  font-size: 80px;
  padding: 0px 20px;
  display: block;
}
.parent_whatWeHave .whatWeHave__option .option__text {
  padding: 0px 30px 0px 0px;
  color: white;
}
.parent_whatWeHave .whatWeHave__option:nth-child(2) {
  background-color: white;
  color: #05001a;
}
.parent_whatWeHave .whatWeHave__option:nth-child(2) .option__text {
  color: #05001a;
}

.parent-form {
  margin: 50px auto;
  max-width: 1000px;
  display: flex;
}
.parent-form .form__image {
  background-image: url("/img/Hospital-Beds.jpg");
  background-position: center center;
  background-size: cover;
  width: 40%;
}
@media screen and (max-width: 900px) {
  .parent-form .form__image {
    display: none;
  }
}
.parent-form .form__block {
  flex: 1;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 900;
  background-color: white;
}
@media screen and (max-width: 900px) {
  .parent-form .form__block {
    width: 100%;
  }
}
.parent-form .form__block h4 {
  color: white;
  background-color: #05001a;
  padding: 20px 25px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.parent-form .form__block form {
  padding: 0px 30px;
  box-sizing: border-box;
}
.parent-form .form__block form div {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .parent-form .form__block form div {
    flex-direction: column;
  }
}
.parent-form .form__block form input[type=text], .parent-form .form__block form textarea {
  padding: 15px 10px;
  margin: 10px 0px;
  color: #05001a;
  border: 1px solid transparent;
  background-color: rgba(238, 238, 238, 0.61);
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
}
.parent-form .form__block form input[type=text]:focus, .parent-form .form__block form textarea:focus {
  outline: 3px solid #05001a;
}
.parent-form .form__block form input[type=text] {
  width: 46%;
}
@media screen and (max-width: 900px) {
  .parent-form .form__block form input[type=text] {
    width: 100%;
  }
}
.parent-form .form__block form textarea {
  width: 100%;
}
.parent-form .form__block button {
  width: 200px;
  padding: 15px 25px;
  background-color: #05001a;
  color: white;
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  border: none;
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 700px) {
  .parent-form .form__block button {
    width: 100%;
  }
}

.parent-galerie {
  width: 100%;
}
.parent-galerie h4 {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 4rem;
  margin: 0;
  color: #05001a;
}
.parent-galerie .galerie {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.parent-galerie .galerie__item {
  background-position: center center;
  background-size: cover;
  margin: 15px auto;
  width: 320px;
  height: 250px;
}
.parent-galerie .galerie__item:nth-child(1) {
  background-image: url("/img/88176.jpg");
}
.parent-galerie .galerie__item:nth-child(2) {
  background-image: url("/img/unnamed.jpg");
}
.parent-galerie .galerie__item:nth-child(3) {
  background-image: url("/img/Hospital-Beds.jpg");
}
.parent-galerie .galerie__item:nth-child(4) {
  background-image: url("/img/hospital.jpg");
}
.parent-galerie .galerie__item:nth-child(5) {
  background-image: url("/img/Moore-CovidAfrica.jpg");
}
.parent-galerie .galerie__item:nth-child(6) {
  background-image: url("/img/file-20210111-23-1s1uykk.jpg");
}
@media screen and (max-width: 900px) {
  .parent-galerie .galerie__item {
    width: 100%;
    margin: 5px;
  }
}

.parent-urgence {
  background-image: url("/img/826909-hospital-wallpapers-1920x1080-hd.jpg");
  background-position: center center;
  background-size: cover;
  margin-top: 80px;
  max-width: 100%;
  padding: 100px;
}
@media screen and (max-width: 900px) {
  .parent-urgence {
    padding: 60px;
  }
}
.parent-urgence .urgence {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 3.5rem;
  color: white;
  transition: 0.3s all;
}
@media screen and (max-width: 700px) {
  .parent-urgence .urgence {
    font-size: 2rem;
  }
}

.parent-whatWeDo {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}
.parent-whatWeDo > h4 {
  font-size: 4rem;
  margin: 35px 0px;
  color: #05001a;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .parent-whatWeDo > h4 {
    font-size: 3rem;
  }
}
.parent-whatWeDo .whatWeDo {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin: auto;
  opacity: 0;
  transform: translateY(900px);
  transition: 0.5s all;
}
@media screen and (max-width: 700px) {
  .parent-whatWeDo .whatWeDo {
    flex-direction: column;
    max-width: 100%;
  }
}
.parent-whatWeDo .whatWeDo__item {
  padding: 40px;
  text-align: center;
  color: #05001a;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.parent-whatWeDo .whatWeDo__item i {
  font-size: 3rem;
}
.parent-whatWeDo .whatWeDo__item h4 {
  margin-top: 5px;
  font-size: 2rem;
}
.parent-whatWeDo .whatWeDo__item p {
  text-align: center;
}
@media screen and (max-width: 700px) {
  .parent-whatWeDo .whatWeDo__item {
    max-width: 100%;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
